{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=   "{% static 'newsapp/reset.css' %}">
  <link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500;900&display=swap"
  rel="stylesheet"
  />
  <link rel="stylesheet" href=   "{% static 'newsapp/create.css' %}">
  <title>NewsApp</title>
</head>
<body>
  <header>
    <section >
      <a class = "admin" href="/admin">Admin</a>
    </section>
  </header>
  <main>
    <legend><h1 class="title">Noticia nueva</h1></legend>
    <br>
    <br>
    <br>
    <br>

    <section class= "container">
      <form  action="" method="post"> 
        {% csrf_token %}
          <ul>
            <section>
              <h2>Titulo:</h2>
              <br>
              <li>{{ form.title }}</li>
            </section>
            <br>
            <br>
            <section>
              <h2>Noticia:</h2>
              <br>
              <li>{{form.news_text}}</li>
            </section>
            <br>
            <br>
            <section>
              <h2>Autor:</h2>
              <br>
              <li>{{form.author}}</li>
            </section>
            <br>
            <br>
          </ul>
    
        <button><input class="button" type="submit" value="Publicar"></button> <button><input class="button" type=button value="Atras" onClick="javascript:history.go(-1);"></button>  
      </form>
    </section>

  </main>
  <footer>
    Desarrollado por Diego Cardenas
  </footer>

  
</body>
</html>