<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newsapp</title>
</head>
<body>
  <header>

  </header>
  <main>
    <h1>{{news.title}}</h1>

  <li>{{news.news_text}}</li>
  <li>{{news.author}}</li>
  <li>{{news.pub_date}}</li>
  <li>{{news.update_date}}</li>
  <input type=button value="Atras" onClick="javascript:history.go(-1);">
  </main>
  <footer>


  </footer>
</body>
</html>





