{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} Calling a css to reset stayles by defect{% endcomment %}
  <link rel="stylesheet" href=   "{% static 'newsapp/reset.css' %}">
  <link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500;900&display=swap"
  rel="stylesheet"
  />
  {% comment %} We can see here the template in which is rendering {% endcomment %}
  <link rel="stylesheet" href=   "{% static 'newsapp/style.css' %}">

  <title>NewsApp</title>
</head>
<body>
  <header>
    <section >
      {% comment %} A link to view the database {% endcomment %}
      <a class = "admin" href="/admin">Admin</a>
    </section>
    <section>
      {% comment %} I got this sction to keep improving my template {% endcomment %}
    </section>

  </header>



  <main>

    <section>
      <h1>Ultimas Noticias NewsApp</h1>
      <br>
      <br>
      <button><a class="createnews" href="{% url 'newsapp:create' %}" >Crear noticia</a></button>
      <br>
      <br>

    </section>
    <article>*si quieres leer mejor la noticia da click en el titulo.</article>
    <section class="cards-container">
      {% comment %} If theres is any news go to for and print every news if not  show no news {% endcomment %}
    {% if list_news  %}

      {% for news in list_news %}
      <ul class="card">
        <a href=" {% url 'newsapp:detail' news.id %} "><h2 class= "card-title">{{news.title}}</h2></a>
        <br>
        <li>{{news.news_text}}</li>
        <li class ="card-author"><span>Autor:</span>{{news.author}}</li>
        <div class="card-dates">
          <li>{{news.pub_date}}</li><li><span>fecha de modificacion:</span>{{news.update_date}}</li>
        </div>
      </ul>
      <br>
      <button class="edit-button"><a href="{% url 'newsapp:update' news.id %}">Editar</a></button> <button button class="delete-button"><a href="{% url 'newsapp:delete' news.id %}">Eliminar</a></button>  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      {% endfor %}
    
    {% else %}
    <p>No hay noticias</p>
    {% endif %}
  
    </section>
  </main>
  <footer>
    Desarrollado por Diego Cardenas
  </footer>

  
</body>
</html>